* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

.q_data>span>img, .a_data>span>img {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    border:1.5px solid #f5f6fa;

}
.q_data span:last-child, .a_data span:last-child {
    color: #aab8c2;
}

span {
    align-self: center;
    margin: 3px 5px;
}

.current_question {
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 10px;
    border-radius: 25px;
    background-color: #82ccdd;
    padding: 10px;
    position: relative;
}
.answer {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding-right: 10px;
}
.current_answer {
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 10px;
    border-radius: 25px;
    background: #88BB71;
    padding: 10px;
    position: relative;
}

.current_answer+span {
    font-size: 13px;
    color: #aab8c2;
    margin-left: auto;
}
.ch_list_header h4 {
    height: 45px;
    background: #4E6486;
    border-bottom: 1px solid #fff;
    text-align: center;
    line-height: 45px;
    color: #aab8c2;
}
    .list {
        overflow-y: auto;
        height: calc(100% - 40px);
        background: #53748A;
        padding: 12px;
    }

    .list ul > li {
        border-radius: 20px;
        background: #51678A;
        margin-top: 17px;
    }

    /* scrollbar */
    .scrollbar-near-moon::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
        background-color: #F5F5F5;
        border-radius: 10px; }
        
        .scrollbar-near-moon::-webkit-scrollbar {
        width: 12px;
        background-color: #F5F5F5; }
        
        .scrollbar-near-moon::-webkit-scrollbar-thumb {
        border-radius: 10px;
        -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
        background-image: -webkit-gradient(linear, left bottom, left top, from(#5ee7df), to(#b490ca));
        background-image: -webkit-linear-gradient(bottom, #5ee7df 0%, #b490ca 100%);
        background-image: linear-gradient(to top, #5ee7df 0%, #b490ca 100%); }
