<div class="profile m-2">
  <img [src]="data?.img" alt="" width="100" height="100" class="rounded">
<h3>{{ data?.firstName}}</h3>
</div>
<app-portal-modal></app-portal-modal>
<table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Tittle</th>
        <th scope="col">Start</th>
        <th scope="col">link</th>
        <th scope="col">Status</th>
        <th scope="col">Share</th>
        <th scope="col">GO</th>
      </tr>
    </thead> 
    <tbody>
      <tr *ngFor="let item of portalData; let i = index;" [ngClass]="">
        <th scope="row">{{ i + 1 }}</th>
        <td>{{ item.name }}</td>
        <td>{{ item.start }}</td>
        <td>{{ portalUrlPath+item.token }}</td>
        <td *ngIf="(item.counter | async) as timeOfStart">{{ timeOfStart }}</td>
        <td *ngIf="!item.isFinished && !(item.counter | async) as timeOfStart">Started</td>
        <td *ngIf="item.isFinished && !(item.counter | async) as timeOfStart">Finished</td>
        <!-- <td *ngIf="item.isFinished">Finished</td> -->
        <td><button [ngClass]="{'ni_active':item.isFinished}"><app-send-mail-modal [url]="portalUrlPath+item.token"></app-send-mail-modal></button></td>
        <td><button [disabled]="(item.counter | async) || item.isStarted" class="btn btn-success" (click)="startEvent(item)">Start</button></td>
        <!-- <td><button class="btn btn-danger" [attr.data-portal]="item.id">Remove</button></td> -->
      </tr>
    </tbody>
  </table>


