<ng-template #content let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Send Portal adresses</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <form [formGroup]="sendMailForm">
        <p class="url">{{ url }}</p>
        <p [ngStyle]="{'color': 'red'}" *ngIf="fails">Wrong Email Format </p>
        <div formArrayName="emails">
          <div *ngFor="let item of inpArray.controls; let inputIndex=index; let i=index" [formGroupName]="inputIndex"  class="form-group">
            <label for="dateOfBirth"></label>
            <div class="input-group">
              <input id="sendMail" class="form-control" formControlName="email" name="mail" placeholder="Email">
              <span (click)="removeEmail(inputIndex)"><i class="far fa-trash-alt"></i></span>
            </div>
          </div>
        </div>
      </form>
    </div>
    <div class="modal-footer d-flex">
      <div class="add"><i class="fas fa-plus-circle" (click)="addInput(sendMailForm)"></i></div>
      <button type="button" class="btn btn-outline-dark" (click)="checkFormValid(sendMailForm) && modal.close(sendMailForm.controls.emails)">Send</button>
    </div>
  </ng-template>
  
  <button class="btn btn-warning" (click)="open(content)">Share</button>
  