<div class="list-type5">
    <!-- <pre>{{ portalData | json }}</pre> -->
    <ol *ngFor="let item of portalData">
        <li *ngIf="item.private" (click)="item.isStarted && openModal(item, true)" [ngClass]="{disabled: !item.isStarted}" class="d-flex">
            <span >{{ item.name }}</span>
            <i class="fas fa-lock"></i>
            <!-- {{item.private ? '-private' : '-public'}} ------ {{ item.userId }} -->
        </li>
        <li *ngIf="!item.private" (click)="item.isStarted && openModal(item, false)" [ngClass]="{disabled: !item.isStarted}" class="d-flex">
            <span>{{ item.name }}</span>
            <i class="fas fa-lock-open"></i>
            <!-- {{item.private ? '-private' : '-public'}}  ------ {{ item.userId }} -->
        </li>
    </ol>
</div>