* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.wrapper {
  height: calc(100% - 40px);
  overflow-y: auto;
  background: #53748A;
  padding: 12px;
}

.wrapper ul > li {
  border-radius: 20px;
  background: #51678A;
  margin-top: 17px;
}
.like {
  /* position: relative; */
  /* top: -20px; */
  background: url("../../../../../../../public/images/twitter-heart.png");
  width: 60px;
  height: 60px;
  background-size: 2900%;
  background-repeat: no-repeat;
}
@keyframes animate {
  0% {
    background-position: left;
  }
  50% {
    background-position: right;
  }
  100% {
    background-position: right;
  }
}

.is-active {
  animation-name: animate;
  animation-duration: 0.3s;
  animation-iteration-count: 1;
  animation-timing-function: steps(28);
  animation-fill-mode: forwards;
}

ul > li {
  list-style: none;
  padding-left: 5px;
}
.img > img {
  height: 32px;
  width: 32px;
  border-radius: 50%;
  border:1.5px solid #f5f6fa;
}

.msg_cotainer {
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 10px;
  border-radius: 25px;
  background-color: #82ccdd;
  padding: 10px;
  position: relative;
}
.data {
  cursor: pointer;
}

.top_10header h4 {
  height: 45px;
  background: #4e6486;
  border-bottom: 1px solid #fff;
  color: #aab8c2;
  text-align: center;
  line-height: 45px;
}

.like.likes {
  position: relative;
  top: -18px;
}

span {
  margin: 3px 5px;
}

.scrollbar-near-moon::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-color: #F5F5F5;
  border-radius: 10px; }
  
  .scrollbar-near-moon::-webkit-scrollbar {
  width: 12px;
  background-color: #F5F5F5; }
  
  .scrollbar-near-moon::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-image: -webkit-gradient(linear, left bottom, left top, from(#5ee7df), to(#b490ca));
  background-image: -webkit-linear-gradient(bottom, #5ee7df 0%, #b490ca 100%);
  background-image: linear-gradient(to top, #5ee7df 0%, #b490ca 100%); }