<!-- <pre>{{ userData | json}}</pre> -->
<!-- <pre>{{ nickData | json}}</pre> -->
<!-- <pre>{{ inUserPortal }}</pre> -->
<div class="comp_container">
    <div class="card-header">
        <div class="d-flex bd-highlight">
            <div class="img_cont">
                <img [src]="inUserPortal ? userData.img : nickData.nickToPortal.portalToUser.img" class="rounded-circle user_img">
                <span class="online_icon"></span>
            </div>
            <div class="user_info">
                <span>Chat with {{ inUserPortal ? userData.firstName : nickData.nickToPortal.portalToUser.firstName }}</span>
                <p *ngIf="inUserPortal">{{ portalData.portalManyQuestion[0]?.questionsInPortal ? portalData.portalManyQuestion[0].questionsInPortal : "ko yet " }} Questions</p>
                <p *ngIf="!inUserPortal">{{ nickData.questionsInPortal ? nickData.questionsInPortal : "no " }} Questions</p>
            </div>
             <i *ngIf="inUserPortal" (click)="finishPortal()" class="finish far fa-stop-circle"></i>
        </div>
    </div>
    <div class="msg_cont scrollbar scrollbar-near-moon" #scrollMe>
        <!-- <h1>{{ ggg() }}</h1> -->
        <div class="force-overflow"></div>
        <ul class="card-body msg_card_body ">
            <li *ngFor="let item of questions; let i=index"
                class="d-flex justify-content-start mb-4 flex-column">
                <!-- {{ item | json }}  -->
                <div class="name" style="color: #AAB8C2">{{ item.nickss.name }}</div>
                <div class="img_name d-flex flex-column">
                    <div class="img_msg_wrap d-flex">
                        <div class="img_cont_msg">
                            <img [src]="item.nickss.image" alt="" class="rounded-circle user_img_msg">
                        </div>
                        <div class="msg_cotainer">
                            {{ item.question }}
                        </div>
                    </div>
                    <div class="metta d-flex">
                        <span class="msg_time">{{ item.time | date: 'medium' }}</span>
                        <span [class.is-active]="item.isLiked || isNickLiked(item)" class="like-btn" (click)="action(item, i)"></span>
                        <span class="like_count" style="color:#FAD00E">{{ item.likes ? item.likes : item.likes === undefined ? item.questionManyLikes : null }}</span>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>