* {
    -webkit-box-sizing: border-box!important; 
    -moz-box-sizing: border-box!important;    
    box-sizing: border-box!important;
}
ul > li {
    margin-right: 5px;
}
.is-active {
    border-bottom: 3px solid #333333;
    padding: 0;
    margin: 0;
}