.divider-text {
    position: relative;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 15px;
}
.divider-text span {
    padding: 7px;
    font-size: 12px;
    position: relative;   
    z-index: 2;
}
.divider-text:after {
    content: "";
    position: absolute;
    width: 100%;
    border-bottom: 1px solid #ddd;
    top: 55%;
    left: 0;
    z-index: 1;
}

.btn-facebook {
    background-color: #405D9D;
    color: #fff;
}
.btn-twitter {
    background-color: #42AEEC;
    color: #fff;
}
/*  */
/* form>div>div {
    order: -1;
} */
form > div {
    display: flex;
}
form > div > div {
    order: -1;
}

.no_valid i {
    color: red
}
.is_valid i {
    color: green
}

.card-body {
    position: relative;
}
.error {
    position: absolute;
    width: 90%;
    height: 31%;
    display: flex;
    align-items: center;
    background: e07272;
    opacity: .5;
    z-index: 5;
    margin-top: 50%;
    justify-content: center;
    border-radius: 5px
}
.error > p {
    font-size: 18px;
    color: #fff
}

a:not([href]):not([tabindex]) {
    color: #fff!important;
    cursor: pointer;
}

a:not([href]):not([tabindex]):hover {
    color: #fff!important
}