<div class="container" (click)="resetErrorLoginMessage()">
    <hr>
    <div class="card bg-light">
        <article class="card-body mx-auto" style="width: 400px;">
            <div *ngIf="error" class="error">
                <p>{{ error }}</p>
            </div>
            <h4 class="card-title mt-3 text-center">Create Account</h4>
            <p class="text-center">Get started with your free account</p>
            <p>
                <a href="#" class="btn btn-block btn-twitter"> <i class="fab fa-twitter"></i>   Login via Twitter</a>
                <a class="btn btn-block btn-facebook" (click)="signInWithFB()"> <i class="fab fa-facebook-f"></i>   Login via
                    facebook</a>
            </p>
            <p class="divider-text">
                <span class="bg-light">OR</span>
            </p>
            <form [formGroup]="loginForm" (ngSubmit)="userLogin()"> 
                <!-- form-group// -->
                <div class="form-group input-group" [ngClass]="detectClass('email')">
                    <div class="input-group-prepend">
                        <span class="input-group-text"> <i class="fa fa-envelope"></i> </span>
                    </div>
                    <input name="" class="form-control" formControlName="email" placeholder="Email address">
                </div> 

                <!-- form-group end.// -->
                <div class="form-group input-group" [ngClass]="detectClass('password')">
                    <div class="input-group-prepend">
                        <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
                    </div>
                    <input class="form-control" formControlName="password" placeholder="Create password" >
                </div>
                <div class="form-group">
                    <button class="btn btn-primary btn-block"> LogIn </button>
                </div> <!-- form-group// -->
               
            </form>
        </article>
    </div> <!-- card.// -->

</div>