<div class="row">
    <div class="col">
        <div ngbDropdown class="d-inline-block">
            <button class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>Set Avatar</button>
            <div ngbDropdownMenu aria-labelledby="dropdownBasic1" class="avatars">
                <ul>
                    <!-- <button> -->
                        <li *ngFor="let item of avatars" (click)="updateAvatar(item)">
                            <img [src]="item" alt="">
                        </li>
                    <!-- </button> -->
                </ul>
                <!-- <button ngbDropdownItem>Action - 1</button>
                <button ngbDropdownItem>Another Action</button>
                <button ngbDropdownItem>Something else is here</button> -->
            </div>
        </div>
    </div>
    <!-- <div class="col">
        <div ngbDropdown class="d-inline-block">
            <button class="btn btn-outline-primary" id="dropdownBasic2" ngbDropdownToggle>Set Avatar</button>
            <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                <button ngbDropdownItem>Action - 1</button>
                <button ngbDropdownItem>Another Action</button>
                <button ngbDropdownItem>Something else is here</button>
            </div>
        </div>
    </div>
</div> -->