* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /* outline: 1px solid green; */
}

/* html, body {
    width: 100%;
    height: 100%;
} */

.p_d {
    height: 90vh;
    width: 97vw;
}
.wrapper {
    margin: 15px;
    width: 100%;
    height: 90%;
}
.messages {
    width: 70%;
    height: 100%;
    flex-direction: column;
}
.questions {
    height: 100%;
    width: 30%;
    background-color: #51678A;
}
.top {
    width: 100%;
    height: 85%;
}

.wrote_messages {
    width: 100%;
    height: 30%;
}

.chat_list {
    width: 60%;
    height: 100%;
    /* overflow-y: scroll; */
}
.top10_list {
    width: 40%;
    height: 100%;
}
.nick_data > img{
    width: 40px;
    height: 40px;
    margin-left: 15px;
}

.nick_data {
    padding-left: 50px
}
.nick_data > h4, .nick_data > img {
    align-self: center;
}
.nick_data > h4 {
    color: #4E6486;
}
.nick_header {
    margin-top: 10px;
}
.portal_data {
    margin-left: 15%;
}
.portal_data > h3 {
    color: #4E6486;
}

/* scrollbar question */
.scrollbar-near-moon::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    background-color: #F5F5F5;
    border-radius: 10px; }
    
    .scrollbar-near-moon::-webkit-scrollbar {
    width: 12px;
    background-color: #F5F5F5; }
    
    .scrollbar-near-moon::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    background-image: -webkit-gradient(linear, left bottom, left top, from(#5ee7df), to(#b490ca));
    background-image: -webkit-linear-gradient(bottom, #5ee7df 0%, #b490ca 100%);
    background-image: linear-gradient(to top, #5ee7df 0%, #b490ca 100%); }
