 <!-- <pre *ngIf="nickData?.id">{{ nickData | json}}</pre>  -->
 <!-- <pre *ngIf="userData?.id">{{ userData | json}}</pre> -->
<!-- <p>{{ token }}</p> -->
<div class="nick_header d-flex">
    <div class="nick_data d-flex">
        <h4> {{inUserPortal ? userData.firstName : nickData.name}} </h4>
        <img [src]="inUserPortal ? userData.img : nickData.image" alt="">
    </div>
    <ngbd-dropdown-basic *ngIf="!inUserPortal" [portalId]="portalData.id" [nickId]="nickData.id"></ngbd-dropdown-basic>
    <div class="portal_data"><h1>{{ portalData.name }}</h1></div>
</div>
<div class="wrapper d-flex">
    <div class="messages d-flex">
        <div class="top d-flex">
            <div class="chat_list">
                <app-chat-list [answer]="answer.asObservable()" [userData]="userData" [inUserPortal]="inUserPortal" [nickData]="nickData"></app-chat-list>
            </div>
            <div class="top10_list">
                <app-top10-list [inUserPortal]="inUserPortal"></app-top10-list>
            </div>
        </div>
        <div class="wrote_messages">
            <app-message [nickData]="nickData" [userData]="userData"></app-message>
        </div>
    </div>
    <!-- #scrollMe [scrollTop]="scrollMe.scrollHeight" -->

    <!-- <div class="questions scrollbar scrollbar-near-moon">
        <div class="force-overflow"></div> -->
    <div class="questions">
        <!-- <div class="force-overflow"></div> -->
        <!-- [question]="messages" [nickData]="nickData" [userData]="userData" [inUserPortal]="inUserPortal" -->
        <app-question [question]="messages" [nickData]="nickData" [userData]="userData" [inUserPortal]="inUserPortal"></app-question>
    </div>       
</div>