<!-- <pre *ngIf="nickData?.id">{{ nickData | json}}</pre> 2 -->
<!-- <pre *ngIf="userData?.id">{{ userData | json}}</pre> -->
<!-- <pre>{{ portalData | json}}</pre>4 -->
<!-- <p>{{ token }}</p> -->

<div class="p_d">

    <div class="nick_header d-flex">
        <div class="nick_data d-flex">
            <h4> {{inUserPortal ? userData.firstName : nickData.name}} </h4>
            <img [src]="inUserPortal ? userData.img : nickData.image" alt="">
        </div>
        <ngbd-dropdown-basic *ngIf="!inUserPortal" (ChangedAvatar)="ChangedAvatar($event)" [portalId]="portalData.id"
            [nickDataId]="nickData.id"></ngbd-dropdown-basic>
        <div class="portal_data">
            <h3>{{ portalData.name }}</h3>
        </div>
    </div>
    <div class="wrapper d-flex">
        <div class="messages d-flex">
            <div class="top d-flex">
                <div class="chat_list">
                    <app-chat-list [answer]="answer.asObservable()" [userData]="userData" [inUserPortal]="inUserPortal"
                        [nickData]="nickData" [portalData]="portalData"></app-chat-list>
                </div>
                <div class="top10_list">
                    <app-top10-list [inUserPortal]="inUserPortal"></app-top10-list>
                </div>
            </div>
            <div class="wrote_messages">
                <app-message [nickData]="nickData" [userData]="userData"></app-message>
            </div>
        </div>
        <div class="questions">
            <app-question [question]="messages" [nickData]="nickData" [userData]="userData"
                [inUserPortal]="inUserPortal" [portalId]="portalData.id" [portalData]="portalData"></app-question>
        </div>
    </div>
</div>